.brands {
  margin: 5rem 0;
  padding: 3rem;

  &__title {
    color: $primary-color-dark-1;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;

    img {
      height: 5rem;
    }
  }
}