// Colors
$white-red-1: #fff1f1;
$white-red-2: #ffe0e0;

$primary-color-light-1: #ffc7c7;
$primary-color-light-2: #ffa0a0;
$primary-color-light-3: #ff6969;

$primary-color: #e61c1c;
$secondary-color: #cc1414;
$tertiary-color: #f93a3a;

$primary-color-dark-1: #a01414;
$primary-color-dark-2: #851717;
$primary-color-dark-3: #480707;

// linear-gradient
$main-linear-gradient: linear-gradient(to right bottom, $secondary-color, $primary-color-dark-2);
$main-linear-gradient2: linear-gradient(to right bottom, $primary-color-light-2, $primary-color);

// Black color
$rich-black: #020d19;
